@media (max-width: 1400px) {
	.section-comments .decor {
		left: 0;
		width: 135px;
	}
}

@media (max-width: 1200px) { 
	.btn.btn-primary {
		width: 302px;
		height: 73px;
		font-size: 36px;
	}
	.section-main {
		height: 470px;
		min-height: auto;
		h1,h2,h3,h4,h5,h6 {
			font-size: 28px;
		}
		.decor.girl {
			width: 34vw;
			height: 43vw;
		}
		.cont {
			padding-top: 35px !important;
			padding-bottom: 35px !important;
		}
	}
	.block-media {
		.media {
			max-width: calc(100% - 105px);
			max-height: calc(100% - 85px);
		}
	}
	.section-media {
		.cont {
			padding: 40px 0 60px;
		}
		.title {
			margin-bottom: 32px !important;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: 20px;
			line-height: 32px;
			font-weight: 500;
		}
	}
	.section-journey {
		h1,h2,h3,h4,h5,h6 {
			font-size: 24px;
			line-height: 36px;
		}
		p {
			font-size: 20px;
			line-height: 32px;
		}
		.cont {
			padding: 40px 0;
		}
		.img {
			border-radius: 32px;
		}
		.decor {
			&.decor-1 {
				left: -15%;
				top: 2%;
			}
			&.decor-2 {
				right: -18%;
			}
		}
	}
	.section-features {
		.title {
			margin-bottom: 40px !important;
		}
	}
	.section-contacts {
		.title {
			margin-bottom: 16px !important;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: 40px;
			line-height: 48px;
		}
	}
	.section-comments {
		.cont {
			padding: 60px 0;
		}
	}
	.carousel {
		padding: 0 65px;
	}
} 

@media (max-width: 992px) {
	.carousel-inner {
		max-width: 450px;
		margin: 0 auto;
	}
	.carousel-control-next-icon, 
	.carousel-control-prev-icon {
		width: 30px;
		height: 45px;
	}
	.comment-item {
		.img {
			width: 100px;
			height: 100px;
		}
		.name {
			font-size: 20px;
		}
		.desc {
			width: 100%;
			margin-top: 20px;
			border-radius: 0px 32px 32px 32px;
			padding: 20px;
		}
	}
}

@media (max-width: 767px) {
	.section-comments .decor {
		width: 90px;
		top: -10%;
		left: 10px;
	}
	.section-contacts {
		padding: 40px 0 25px;
		.cont {
			margin: 0 auto !important;
		}
		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 16px !important;
		}
		h1,h2,h3,h4,h5,h6,
		p {
			text-align: center !important;
		}
		.title {
			margin-bottom: 20px !important;
		}
	}
	.share  {
		justify-content: center;
		align-items: center;
		margin: 0 -15px 50px !important;
		a {
			margin: 0 15px !important;
		}
	}
	.section-features {
		.title {
			margin-bottom: 16px !important;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: 20px;
			line-height: 28px;
		}
		.cont {
			padding: 40px 0 !important;
		}
	}
	.list-features {
		margin-bottom: 30px !important;
		.img {
			width: 50px;
			height: 50px;
		}
	}
	p {
		font-size: 16px;
		line-height: 24px;
	}
	.block-media {
		.media {
			max-height: calc(100% - 70px);
			max-width: calc(100% - 90px);
		}
		.decor {
			&.decor-1 {
				left: -70px;
				top: 10px;
			}
			&.decor-2 {
				right: -20px;
				bottom: -30px;
			}
			&.decor-3 {
				right: -57px;
				bottom: -40px;
			}
		}
	}
	.section-media {
		.cont {
			padding: 30px 0 60px;
		}
		.title {
			margin-bottom: 16px !important;
		}
	} 
	.btn.btn-primary {
		height: 64px;
		width: 265px;
		font-size: 32px;
	}
	.section-main  {
		h1,h2,h3,h4,h5,h6 {
			font-size: 24px;
		}
		.decor {
			&.girl {
				min-width: 278px;
				min-height: 348px;
			}
			&.book {
				min-width: 233px;
				min-height: 168px;
			}
		}
		.cont {
			padding-top: 20px !important;
			padding-bottom: 20px !important;
		}
	}
}

@media (max-width: 576px) { 
	.carousel {
		padding: 0;
	}
	.carousel-control-next, 
	.carousel-control-prev {
		top: 5%;
		transform: translateY(0%);
	}
	.comment-item {
		.img {
			width: 100px;
			height: 100px;
			margin: 0 auto 20px;
			float: initial !important;
		}
		.rates {
			justify-content: center;
			width: 100%;
		}
		.name {
			width: 100%;
			text-align: center;
			margin-bottom: 15px !important;
		}
		.desc {
			margin-top: 0;
		}
	}
	.section-journey {
		.img {
			border-radius: 24px;
		}
		.decor {
			&.decor-1 {
				max-width: 122px;
				max-height: 73px;
				left: 2%;
				top: 2%;
			}
			&.decor-2 {
				max-width: 151px;
				max-height: 71px;
				right: -70px;
				top: 10px;
			}
		}
		.cont {
			padding: 80px 0;
		}
		.col {
			position: static;
		}
	}
	.block-media {
		.media {
			max-height: calc(100% - 60px);
			max-width: calc(100% - 70px);
		}
	}
	.section-media {
		h1,h2,h3,h4,h5,h6 {
			font-size: 18px;
			line-height: 28px;
		}
	}
	.section-main  {
		.decor {
			&.girl {
				left: -14%;
			}
		}
	}
}

@media (max-width: 420px) {  
	.block-media {
		.media {
			max-height: calc(100% - 40px);
			max-width: calc(100% - 50px);
		}
	}
}